/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  margin-bottom: 15px;
}

.menu_Body {
  margin-top: 70px;
  width: 94%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: black;
  font-size: 125%;
}

.menu_Header {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  padding: 10px 30px 10px 30px;
  margin: 0;
  font-size: 175%;
}

.other {
  background-color: rgb(153, 153, 153);
  margin-left: 10px;
  margin-bottom: 10px;
}

.chiken {
  background-color: #d59898;
}
.beef {
  background-color: #c14543;
  color: cornsilk;
}

.sushi {
  background-color: #e5d198;
}
.tittle {
  text-align: center;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 32.43%;
    float: left;
    border: 1px solid black;
    position: relative;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 48.4%;
    float: left;
    border: 1px solid black;
    position: relative;
  }
  .col-md-12 {
    width: 98%;
    float: left;
    border: 1px solid black;
    position: relative;
  }
}
/********** small devices only **********/
@media (max-width: 767px) {
  .col-xs-12 {
    width: 96%;
    float: left;
    border: 1px solid black;
    position: relative;
  }
}
